In [1]:
import pandas as pd

In [3]:
## load two csv files: withbox and withoutbox
withbox     = pd.read_csv('/lore/hasanm4/Tomms/myCases/LCPP/test_sq_boundary2/withnex.vtk/wall.csv')
withoutbox  = pd.read_csv('/lore/hasanm4/Tomms/myCases/LCPP/test_sq_boundary2/withnex.vtk/no_wall.csv')

In [4]:
withbox.head()

,Point ID,class_dim,class_id,coordinates_0,coordinates_1,coordinates_2,coordinates_Magnitude,local,simNumbering
0,0,0,1,2.48436,0.043479,0,2.48474,0,12
1,1,0,2,2.50842,0.042199,0,2.50877,1,40
2,2,0,3,2.52435,0.045618,0,2.52476,2,79
3,3,0,4,2.53739,0.042093,0,2.53774,3,127
4,4,0,5,2.54770,0.047638,0,2.54815,4,182

In [5]:
# make the simNumbering column as index
withbox.set_index('simNumbering', inplace=True)
withoutbox.set_index('simNumbering', inplace=True)

In [6]:
withbox.head()

,Point ID,class_dim,class_id,coordinates_0,coordinates_1,coordinates_2,coordinates_Magnitude,local
simNumbering,,,,,,,,
12,0,0,1,2.48436,0.043479,0,2.48474,0
40,1,0,2,2.50842,0.042199,0,2.50877,1
79,2,0,3,2.52435,0.045618,0,2.52476,2
127,3,0,4,2.53739,0.042093,0,2.53774,3
182,4,0,5,2.54770,0.047638,0,2.54815,4

In [7]:
# get the row with simNumbering 79
withbox.loc[79], withoutbox.loc[79]

(Point ID                 2.000000
 class_dim                0.000000
 class_id                 3.000000
 coordinates_0            2.524350
 coordinates_1            0.045618
 coordinates_2            0.000000
 coordinates_Magnitude    2.524760
 local                    2.000000
 Name: 79, dtype: float64,
 Point ID                 2.000000
 class_dim                0.000000
 class_id                 3.000000
 coordinates_0            2.524350
 coordinates_1            0.045618
 coordinates_2            0.000000
 coordinates_Magnitude    2.524760
 local                    2.000000
 Name: 79, dtype: float64)

In [11]:
def is_not_close(a,b, tol=1e-6):
    return abs(a-b) > tol

In [14]:
# do a for loop and compare the coordinates_0 and coordinates_1 columns and break when they are not equal
not_equal = 0
for i in range(1, len(withoutbox)):
    if is_not_close(withbox.loc[i].coordinates_0, withoutbox.loc[i].coordinates_0) or is_not_close(withbox.loc[i].coordinates_1, withoutbox.loc[i].coordinates_1):
        #print(f'Coordinates are not equal at index {i}')
        not_equal = not_equal + 1

print(f'Total number of not equal coordinates: {not_equal}')
print(f'Total number of rows: {len(withoutbox)}')

Total number of not equal coordinates: 2518
Total number of rows: 23740

In [15]:
for i in range(2, len(withoutbox)):
    if is_not_close(withbox.loc[i].coordinates_0, withoutbox.loc[i].coordinates_0) or is_not_close(withbox.loc[i].coordinates_1, withoutbox.loc[i].coordinates_1):
        print(f'Coordinates are unequal at index {i}')
        break

Coordinates are unequal at index 21032

In [16]:
# matching after the first mismatch
23740-21032 - 2518

190